<div class="container" style="padding-bottom: 50px;">

  <form class="login-form" name = "myForm" style="margin-bottom: 10px;" ng-submit = "addUser()">        
    <div class="login-wrap">
        <p class="login-img">SignUp</p>

        <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control" placeholder="Full Name" autofocus ng-model = "name" required>
      </div>

      <div class="input-group" style="width: 100%;">
          <input type="text" class="form-control" placeholder="Username" autofocus ng-model = "username" required>
      </div>

      <div class="input-group" style="width: 100%;">
        <input type="password" class="form-control" placeholder="Password" ng-model = "password" required>
    </div>

    <div class="input-group" ng-class = "{'has-error': password !== confirm_password, 'has-success': password == confirm_password}" style="width: 100%;">
        <input id="inputSuccess" type="password" class="form-control" placeholder="Confirm Password" ng-model = "confirm_password" required>
    </div>

    <div class = "gender">
        <label class="radio-inline">
            <input type = "radio" name = "optradio" ng-model = "gender" value = "Male" required>Male
        </label>
        <label class="radio-inline">
            <input type = "radio" name = "optradio" ng-model = "gender" value = "Female">Female
        </label>
        <label class="radio-inline">
            <input type = "radio" name = "optradio" ng-model = "gender" value = "Other">Other
        </label>
    </div>
    <br/>

    <div>
        <textarea class = "form-control address" rows = "5" ng-model = "address" placeholder="Address"></textarea>
    </div>
    <br/>

    <div class="input-group" style="width: 100%;">
      
      <input type="email" class="form-control" name="mail" placeholder="Email (someone@email.com)" autofocus ng-model = "email" required>
      <span class="error" ng-show="myForm.mail.$error.email">Not valid email!</span>
  </div>


  <div class="input-group" style="width: 100%;">
      <input type="text" class="form-control" placeholder="Mobile" autofocus ng-model = "mobile">
  </div>

  <div class="input-group" style="width: 100%;">
      <input type="text" class="form-control" placeholder="Pincode" autofocus ng-model = "pincode">
  </div>

  <div class="input-group" style="width: 100%;">
      <input type="text" class="form-control" placeholder="Occupation" autofocus ng-model = "occupation">
  </div>

  <div class="input-group" style="width: 100%;">
      <input type="date" class="form-control" name="date" data-provide="datepicker" date-date-format = "yyyy-mm-dd" placeholder="Date Of Birth (yyyy-mm-dd)" autofocus ng-model = "dateofbirth">
      <span class="error" ng-show="myForm.date.$error.date">
         Not valid date!</span>
  </div>

  <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
</div>
</form>

<div class="row row-centered pos">
<div class = "alert" style = "margin-bottom: 50px;" ng-class = "{'text-center col-md-6 col-md-offset-3 alert-danger': new.message == 'Signup Falied'}" ng-if = "new.message == 'Signup Falied'">

    <h5><strong>{{new.message}}</strong></h5>

    <div class = "alert" ng-if = "new.errors">
        <ul>
            <li ng-repeat = "error in new.errors">{{error}}</li>
        </ul>
    </div>
</div>
</div>
</div>